{% extends 'base.html' %}

<!-- update the heading to be the vulnerability name that was clicked on from index.html -->

{% block heading %}
{{ vulnerability }}
{{ message }}
<p hidden>{{ vul_id }}</p>
{% endblock %}

{% block content %}
<!-- Use a for loop to display the incidents that match the vulnerability. -->
<div class="row">
    {% for i in incidents %}
    <div class="col-12 col-md-6 mb-3">
        <div class="card p-3">
            <h5>name: {{ i.inc_name }}</h5>
            <a href={{ i.inc_url }} class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>
<a href="/add-incident/{{vul_id}}" class="btn btn-primary">Add incident</a>

<br><br/>
<a href="/" class="btn btn+success">Return Home</a>
{% endblock %}